.noticer {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  top: 40px;
  right: -400px;
  min-width: 150px;
  max-width: 400px;
  font-size: 16px;
  padding: 0;
  margin: 0;
  background-color: white;
  transition: right ease 0.3s;
  border-radius: 4px;
  box-shadow: 1px 1px 3px #ccc;
  z-index: 99999;
  border: 1px solid #c3c4c7;
  border-left-width: 3px;
  word-wrap: break-word;
  line-height: 1.5em;
}
.noticer div {
  padding: 15px;
}
.noticer__message .message {
  text-align: left;
  font-size: 16px;
  margin: 0;
}
.noticer__button {
  border-left: 1px solid #ccc;
}
.noticer__button span.close {
  cursor: pointer;
}
.noticer__icon {
  border-right: 1px solid #ccc;
}
.noticer .dashicons {
  font-size: 30px;
  width: 30px;
  height: 30px;
}
.noticer.--info {
  color: #1b448f;
  border-left-color: #1b448f;
}
.noticer.--info .noticer__icon .dashicons::before {
  content: "\f348";
}
.noticer.--warning {
  color: #9a6600;
  border-left-color: #9a6600;
}
.noticer.--warning .noticer__icon .dashicons::before {
  content: "\f534";
}
.noticer.--dangerous {
  color: red;
  border-left-color: red;
}
.noticer.--dangerous .noticer__icon .dashicons::before {
  content: "\f534";
}
.noticer.open {
  right: 20px;
  transition: right ease 0.3s;
}
.noticer .hide {
  display: none;
}

.modal {
  font-family: inherit;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  overflow: auto;
  z-index: 99999;
  justify-content: center;
  align-items: center;
  display: none;
  font-size: 16px;
}
.modal__wrapper {
  background-color: white;
  height: auto;
  min-width: 450px;
  border-radius: 4px;
  box-shadow: 1px 1px 3px #ccc;
}
.modal__element {
  padding: 15px;
  border-bottom: 1px solid #ccc;
}
.modal__element:last-child {
  border-bottom: none;
}
.modal__header {
  display: flex;
  padding: 0;
  align-items: center;
}
.modal__header .dashicons {
  width: 30px;
  height: 30px;
  font-size: 30px;
}
.modal__header div {
  padding: 15px;
}
.modal__title {
  width: calc(100% - 120px);
  font-size: 18px;
}
.modal__btn {
  border-left: 1px solid #ccc;
}
.modal__btn .close {
  cursor: pointer;
  color: #ccc;
}
.modal__btn .close:hover {
  color: #555;
}
.modal__icon {
  border-right: 1px solid #ccc;
}
.modal__icon.--info {
  color: #1b448f;
}
.modal__icon.--info .icon::before {
  content: "\f348";
}
.modal__icon.--warning {
  color: #9a6600;
}
.modal__icon.--warning .icon::before {
  content: "\f534";
}
.modal.open {
  display: flex;
}
.modal .hide {
  display: none;
}
.modal .resize {
  width: calc(100% - 60px);
}

* {
  box-sizing: border-box;
}

div:after {
  content: " ";
  clear: both;
}

.crawler {
  padding-right: 15px;
  font-size: 13pt !important;
  line-height: 1.68 !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  margin: 0;
}

.spider__content {
  display: flex;
  flex-direction: row;
}
.spider .column {
  padding: 15px;
  background-color: white;
  box-shadow: 1px 1px 2px gray;
  height: auto;
}
.spider__left {
  width: 40%;
  margin-right: 30px;
  display: inline-block;
}
.spider__right {
  width: 60%;
  display: inline-block;
}

.form__group {
  margin-bottom: 15px;
}
.form__item {
  display: block;
  margin-bottom: 7.5px;
}
.form__note {
  font-size: 12px;
  font-style: italic;
  text-align: right;
}
.form__btn {
  padding: 5px 7.5px;
  font-size: 13px;
  cursor: pointer;
  font-weight: bold;
}
.form__container {
  padding-left: 30px;
}

.wd-100 {
  width: 100%;
}

.subcontainer {
  border-bottom: 1px solid #ccc;
  margin-bottom: 15px;
}
.subcontainer .form__group {
  margin-bottom: 5px;
}
.subcontainer .form__label {
  float: left;
}

.remove-container {
  cursor: pointer;
  margin-top: 6px;
  float: right;
  color: #0073ff;
}
.remove-container:hover {
  color: #003d87;
}

.remove-attribute {
  cursor: pointer;
  margin-top: 6px;
  color: #0073ff;
}
.remove-attribute:hover {
  color: #003d87;
}

.attribute {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.border__bottom {
  padding-bottom: 15px;
  border-bottom: 1px solid #ccc;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.buttons button {
  width: 50%;
}
.buttons button:first-child {
  margin-right: 15px;
}
.buttons button:last-child {
  margin-left: 15px;
}

.singleform {
  width: 600px;
}
.singleform .form__item {
  padding: 5px;
  font-size: 16px;
}
.singleform__btn {
  text-align: right;
}

.add__container.disable {
  color: grey;
  pointer-events: none;
}

/*# sourceMappingURL=app.css.map */
