// modal css
.drag {
     min-width: 450px;
     min-height: 200px;
     border: 2px dashed #a6a6a6;
     border-radius: 12px;
     padding: 15px;
     font-family: inherit;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     &.active {
          border-color: red;
     }
     &__wrapper {
          display: inline-block;
     //     margin-top: 15px;
          text-align: center;
     }
     &__label {
          padding:15px;
          display: inline-block;
          cursor: pointer;
          border: 1px solid #535252;
          border-radius: 4px;
          background-color: #535252;
          color: white;
          &:hover {
               background-color: #343434;
          }
     }
     &__file {
          display: none;
     }
     &__result {
          text-align: left;
          padding: 15px;
          width: 100%;
     }

}