// modal css
.modal {
     font-family: inherit;
     width: 100vw;
     height: 100vh;
     position: fixed;  
     top:0;
     left:0;
     overflow: auto;
     z-index: 99999;   
     display: none;    
     font-size: 16px; 
     .title {
          margin: 0;
     }    
     &__overlay {
          position: absolute;
          top:0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba($color: #000000, $alpha: 0.5); 
          z-index: -1;         
     }
     &__wrapper {
          background-color: white;
          height: auto;
          min-width: 450px;
          display: inline-block;
          border-radius: 4px;
          box-shadow: 1px 1px 3px #ccc;         
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
     }
     &__element {
          padding: 15px;
          border-bottom: 1px solid #ccc;
          &:last-child {
              border-bottom: none;
          }
     }
     &__header {
         display: flex;
         padding: 0;
         align-items: center;        
         .dashicons {
              width: 30px;
              height: 30px;
              font-size: 30px;
         }
         div {
              padding:15px
         }
         
     }
     &__title {
          width: calc(100% - 120px);
          font-size: 18px;
     }
     &__btn {
          border-left: 1px solid #ccc;
          &.close {
              cursor: pointer;              
              color:#ccc;
              &:hover {
                    .closeicon {
                         &::after, &::before {
                              border: 1px solid black;
                         }
                    }
                  
              }
          }
     }
     &__icon {
          border-right: 1px solid #ccc;
          &.--info {
              color:#1b448f;
              .icon{
                  &::before{
                      content: '\f348';
                  }
              }
          }
          &.--warning {
              color:#9a6600;
              .icon{
                  &::before{
                      content: '\f534';
                  }
              }
          }
     }
     &.open {
          display: block;
     }
     .hide {
          display: none;       
     }
     .resize {      
          width: calc(100% - 60px);      
     }
     .closeicon {
          position: relative;
          &::after, &::before{
               content: ' ';
               border: 1px solid #555;
               background-color: #555;
               height: 20px;              
               position: absolute;
               top:40%;
               transform: translateY(-50%);
          }
          &::before{              
               rotate: (-45deg);             
               right: 6px;
          }
          &::after{
               rotate: (45deg);             
               left: 6px;
          }
         
     }
     .exclamation {         
          line-height: 1.4;
          position: relative;
          font-family: arial, helvetica, sans-serif;
          color: white;
          font-weight: bold;
          font-size: 18pt;
          &::before {
               content: "!";
               display: block;
               position: absolute;
               width: 30px;
               height: 30px;
               border-radius: 50%;
               border: 1px solid #ff6200;               
               text-align: center;
               color: #ff6200;
               font-weight: normal;
               top:50%;
               left: 50%;
               transform: translate(-50%, -50%);
          }
     } 
  }