.noticer {
     display: flex;
     flex-direction: row;
     align-items: center;
     position: fixed;
     top:40px;
     right: -400px;
     min-width: 150px;
     max-width: 400px;
     font-size: 16px;
     padding: 0;
     margin: 0;
     background-color: white;
     transition: right ease 0.3s;
     border-radius: 4px;
     box-shadow: 1px 1px 3px #ccc;
     z-index: 99999;
     border: 1px solid #c3c4c7;
     border-left-width: 3px;
     word-wrap: break-word;
     line-height: 1.5em;
     div {
         padding: 15px
     }
     &__message {
        
         .message {
             text-align: left; 
             font-size: 16px;
             margin: 0;
         }        
     }
     &__button {
         border-left: 1px solid #ccc;
         span.close {
             cursor: pointer;
         }
     }   
     &__icon {
         border-right: 1px solid #ccc;
     }
     .dashicons {
         font-size: 30px;
         width: 30px;
         height: 30px;
     }
     &.--info {
         color:#1b448f;
         border-left-color: #1b448f;
         .noticer__icon { 
             .dashicons {
                 &::before {            
                     content: "\f348";                
                 }
             }
         }
     }
     &.--warning {
         color:#9a6600;
         border-left-color: #9a6600;
         .noticer__icon {
             .dashicons {
                 &::before {            
                     content: "\f534";                
                 }
             }
         }
     }
     &.--dangerous {
         color:red;
         border-left-color: red;
         .noticer__icon {
             .dashicons {
                 &::before {            
                     content: "\f534";                
                 }
             }
         }
         
     }    
     &.open {
         right: 20px;
         transition: right ease 0.3s;
     }
     .hide {
         display: none;
     }
    
 }
 