.tabs {
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   &__header {
     display: block;
     width: 100%;
     border-bottom: 1px solid #2271b1;
     margin-bottom: -1px;
   }
   &__button { 
     padding: 10px 15px;     
     display: inline-block;
     cursor: pointer;
     border-right: 1px solid #ddd;
    
     &.active {          
          border: 1px solid gray;
          border-bottom: transparent;
          border-radius: 4px 4px 0 0;
          position: relative;
          z-index: 9999;
          background-color: #2271b1;
          color: white;
         &::after {
          width: 100%;
          border-bottom: 1px solid #2271b1;
          position: absolute;
          bottom:  -1px;
          left: 0px;
       
         }
     }
   }
   &__content {
     width: 100%;
     height: inherit;
     
   }
   &__element {
     width: 100%;
     height: 100%;
     display: none;
     padding: 2px 0;
     &.active {
          display: block;
     }
   }
   
}